.video-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  
.video {
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 8px;
}
  
.controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}
  
.button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.button:hover {
    background-color: #45a049;
}
  
input[type="range"] {
    width: 150px;
}