.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup-content {
    background: white;
    padding: 30px;
    border-radius: 20px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}
  
.close-button {
    position: absolute;
    top: 0px;
    right: 5px;
    background: transparent;
    border: none;
    border-radius: 50px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0px 0px 0px;
    padding: 0px 8px 5px 5px;
}

.close-button:hover {
    border-color: var(--white);
}

.close-button:active {
    background-color: var(--white);
    color: var(--default-text);
}