.appBarStyle {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    background-color: #3f51b5;
    color: white;
}

.menuButtonStyle {
    font-size: 28px;
    cursor: pointer;
}

.titleStyle {
    width: 200px;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
}

.contentRightStyle {
    width: 200px;
    display: contents;
}

.itemRight {
    width: 1px;
}

.iconRight {
    width: 40px;
    height: 40px;
    background: gray;
    border-radius: 30px;
    align-content: center;
}

.iconRightStyle {
    font-size: 24px;
}

.endBox {
    width: 1px;
}