.patient-suggest-product-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.patient-suggest-product-second-container {
    max-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.patient-suggest-product-suggest-label {
    text-align: left;
    width: 100%;
}

.patient-suggest-product-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 250px;
    overflow-y: scroll;
}

.patient-suggest-product-buttons {
    width: 100%;
    justify-items: center;
    justify-content: center;
    gap: 20px;
    display: flex;
    flex-direction: row;
}

.patient-suggest-product-button {
    width: 100%;
}

.patient-suggest-product-card {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    gap: 20px;
    color: var(--default-text);
}

.patient-suggest-product-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.patient-suggest-product-card-label {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.patient-suggest-product-card-title {
    font-size: 18px;
    font-weight: bold;
}