.doctor-sign-up-main-container-horizontal {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.doctor-sign-up-main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sign-up-image-doctor {
    width: 1000px;
    height: 90vh;
    max-height: 100vh;
    border-radius: 20px;
}

.salud-data-center {
    font-size: 32px;
    padding-left: 20px;
    padding-bottom: 20px;
    font-weight: bold;
    color: var(--default-text);
    height: 40px;
    width: 100%;
    display: flex;
    align-self: self-start;
}

@media (max-width: 400px) {
    .salud-data-center {
        padding-left: 0px;
        flex-direction: column;
        align-items: center;
        font-size: 32px;
        font-weight: bold;
        color: var(--default-text);
        height: 40px;
        width: 100%;
        display: flex;
        align-self: self-start;
    }
}

@media (max-width: 900px) {
    .sign-up-image-doctor {
        width: 0px;
        height: 0px;
    }

    .doctor-sign-up-main-container-horizontal {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.doctor-sign-up-get-started {
    padding-top: 20px;
}

.doctor-inputs-container {
    padding-top: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    position: absolute;
}

.doctor-sign-up-login-form {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.doctor-input-two-data {
    display: flex;
    width: 100%;
}

.doctor-sign-up-sized-box-horizontal {
    width: 10px;
    color: var(--transparent);
}

.doctor-sign-up-sized-box-vertical {
    height: 10px;
    color: var(--transparent);
}

.doctor-data {
    padding: 15px;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}

.doctor-data-name-surname {
    padding: 15px;
    width: 60%;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}

@media (max-width: 1050px) {
    .doctor-sign-up-login-form {
        max-width: 280px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .doctor-data {
        padding: 15px;
        border: 2px solid #ccc;
        border-radius: 10px;
    }
}

.doctor-data-license-dni {
    padding: 15px;
    width: 40%;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.doctor-sign-up-button-back {
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
}

.doctor-sign-up-button-next {
    padding: 10px;
    background-color: var(--white);
    color: var(--default-text);
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    transition: border-color 0.25s;
}

.doctor-sign-up-buttons:hover {
    border-color: var(--primary);
}

.doctor-sign-up-buttons:active {
    background-color: var(--primary);
    color: var(--white);
}

.doctor-sign-up-accept-button {
    padding: 10px;
    background-color: var(--white);
    color: var(--default-text);
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    transition: border-color 0.25s;
}

.doctor-sign-up-accept-button:hover {
    border-color: var(--primary);
}

.doctor-sign-up-accept-button:active {
    background-color: var(--primary);
    color: var(--white);
}

.doctor-sign-up-container-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.doctor-sign-up-container-back-get-started {
    display: flex;
}